@page
@model SignalR_Bingo.Pages.BingospilModel
@{
    ViewData["Title"] = "Bingospil";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="BingoStyle.css">
</head>
<body>
    <h1>Bingospil</h1>
    <button >Generate New Card </button>
    <div class="clear"></div>
    <div class="card">
        <div class="headers">
            <div><span>B</span></div>
            <div><span>I</span></div>
            <div><span>N</span></div>
            <div><span>G</span></div>
            <div><span>O</span></div>
        </div>
        <div class="column 1">
        </div>
        <div class="column 2">
        </div>
        <div class="column 3">
        </div>
        <div class="column 4">
        </div>
        <div class="column 5">
        </div>
    </div>
    <div class="temp"></div>
</body>
</html>
<script src="BingoPladeTal.js"></script>